@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alumni+Sans+Pinstripe&family=DM+Serif+Display&display=swap');
@import url(https://fonts.googleapis.com/css?family=Jaldi:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');

 html {
	 font-size: 10px;
	 -webkit-tap-highlight-color: rgba(187, 36, 36, 0.699);
	 box-sizing: border-box;
	  /* overflow-y: scroll; overflow-x:hidden;  */
     scroll-behavior: smooth;
	 Overflow-x:scroll;
	/* Overflow-y:scroll; */


}
 *, *:before, *:after {
	 margin: 0;
	 padding: 1;
	 box-sizing: inherit;
	 
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
  }
 body {
	 font-family: "Raleway",sans-serif;
	 font-size: 16px;
	 line-height: 1.428571429;
	 color: white;
	 min-height: 100vh;
	 width: 100%;
	 margin: auto;
}
.headText{
  
	src: url('/assets/bankgothic-regular.ttf');
	font-family: "Raleway",sans-serif;
	font-weight: lighter;
	letter-spacing: 2.5px;
	
  }
h3{
	margin-top: 0px;
	text-align: center;
	color:#222; 
	font-size:60px; 
	font-weight:400;
	font-weight: bold;
	text-transform: uppercase;
	word-spacing: 1px; 
	letter-spacing:2px; 
	color:#f81010;
}

h1 {
	margin:  auto;
	color: #fff;
	font-family: "Raleway",sans-serif;


}


/* --------------- */






/* 0------------------------------ */

.center {
	text-align: center;
}

.nav-wrapper {
	margin-top: 0;
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 100%;
	height: 80px;
	padding: 0 25px;
	z-index: 2;
	background: #222222;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.nav-wrapper h1{
  color: white;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	height: 55px;
}

.mail{
  text-decoration: none;
}

.nav-tabs {
	display: flex;
	font-weight: 600;
	font-size: 18px;
	list-style: none;
}

.nav-tabs a{
  outline: none;
}

.nav-tab:not(:last-child) {
	padding: 10px 25px;
	margin: 0;
	border-right: 1px solid #eee;
}

.nav-tab:last-child {
	padding: 10px 0 0 25px;
}

.nav-tab,
.menu-btn {
	cursor: pointer;
  
}

.hidden {
	display: none;
}

@media screen and (max-width: 800px) {
	.nav-container {
		position: fixed;
		display: none;
		overflow-y: auto;
		z-index: -1;
		top: 0;
		right: 0;
		width: 280px;
		height: 100%;
		background: #222222;
		box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
	}

.nav-wrapper h1{
  font-size: small;
  text-align: center
  ;}

	.nav-tabs {
		flex-direction: column;
		align-items: flex-end;
		margin-top: auto;
		width: 100%;
	}

	.nav-tab:not(:last-child) {
		padding: 20px 25px;
		margin: auto;
		border-right: unset;
		border-bottom: 1px solid #f5f5f5;
	}

	.nav-tab:last-child {
		padding: 15px 25px;
	}





	.menu-btn .menu:nth-child(2) {
		margin-top: auto;
		opacity: 1;
	}

	.menu-btn .menu:nth-child(3) {
		margin-top: auto;
	}

	#menuToggle:checked + .menu-btn .menu {
		transition: transform 0.2s ease;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(1) {
		transform: translate3d(0, 6px, 0) rotate(45deg);
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(2) {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}

	#menuToggle:checked + .menu-btn .menu:nth-child(3) {
		transform: translate3d(0, -6px, 0) rotate(-45deg);
	}

	#menuToggle:checked ~ .nav-container {
		z-index: 1;
		display: flex;
		animation: menu-slide-left 0.3s ease;
	}
	@keyframes menu-slide-left {
		0% {
			transform: translateX(200px);
		}
		to {
			transform: translateX(0);
		}
	}
}


.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    white 15%,
    rgb(59, 142, 219) 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
	  margin-top: 20px;
}
@keyframes textclip {
	to {
	  background-position: 200% center;
	}
  }


 .row {
	display: flex;
	align-items: center;
	justify-content: center;
}
.grid-container {
	gap: 50px;
  }


 .section {
	border: white;
	border-radius: 30px;
	
 box-shadow:inset 0 0 0 2000px transparent;

	 position: relative;
	 overflow: hidden;
	 width: 80vh;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
     /* height: 100vh; */
}
 header, main {
	 display: block;
	 position: relative;
	 z-index: 1;
}
 header {
	 padding: 48px;
}
 @media (max-width: 600px) {
	 header {
		 padding: 48px 24px;

	}

	.headerText{
		font-size: 30px;
	}
	body{
		margin: 0;
		padding: 0;
		
	}
	.section{
		border-radius: 0px;
		border: none;
	}
}
 header > h3 {
	 font-size: 44px;
	 margin-bottom: 8px;
	 
}
 header > h4 {
	 font-size: 22px;
	 font-weight: 400;
	 letter-spacing: 1px;
	 font-family: 'Combo', cursive;
}
 main {
	 flex: 1;
	 padding: 0 48px;
}
 @media (max-width: 440px) {
	 main {
		 padding: 0 24px;
	}
}


 form {
	 height: 100%;
	 display: flex;
	 justify-content: center;
	 flex-direction: column;
}
 .label {
	 color: black;
	 font-size: 16px;
	 font-weight: 500;
	 padding-top: 16px;
}
 small {
	 display: none;
}
 small.errorOnce {
	 margin-top: 2px;
}
 .form-item input[type="text"], .form-item input[type="number"], .form-item input[type="email"] , .form-item input[type="URL"] , .form-item label[type="option"] {
	 display: flexbox;
	 font-size: 16px;
	 width: 100%;
	 background-color: white;
	 border-radius: 5px;
	 color: black;
	 border: none;
	 border-bottom: 1px solid black;
	 padding: 8px 14px;
	 appearance: none;
	 font-family: 'Poppins', sans-serif;
	 outline: none;
	 display: grid;
	 grid-template-columns: auto;
	 gap: 50px;
}
.select{
	 font-size: 16px;
	 width: 100%;
	 background-color: transparent;
	 border: rgb(86, 77, 220);
	 border-bottom: 1px solid #5f5fb4;
	 padding: 0 0;
	 appearance: none;
	 outline: none;
}


 .form-item i {
	 font-size: 16px;
	 color: red;
	 padding: 6px;
	 font-family: 'Poppins', sans-serif;
}
 .box-item {
	 height: 60px;
	 margin-bottom: 16px;
}
 .form-item-double {
	 display: flex;
	 padding: 6px;
}
 .form-item-double .form-item {
	 flex: 1 1 auto;
	 padding: 6px;
}
 .form-item-double .form-item:nth-child(1) {
	 padding-right: 8px;
	 padding: 6px;
}
 .form-item-double .form-item:nth-child(2) {
	 padding-left: 4px;
	 padding: 6px;
}
 .form-item-triple {
	 display: flex;
	 align-items: center;
	 padding: 6px;
}
 .form-item-triple .radio-label {
	 flex: 1 1 auto;
	 text-align: left;
	 padding: 6px;
}
 .form-item-triple .radio-label label {
	 display: inline-block;
	 vertical-align: middle;
	 padding: 6px;
}
 .form-item-triple .form-item {
	 flex: 3 1 auto;
	 text-align: center;
	 margin: 0;
	 padding: 6px;
}
 .form-item-triple .form-item label, .form-item-triple .form-item input[type="radio"]  {
	 display: inline-block;
	 vertical-align: middle;
	 margin: 0 16px;
	 padding: 6px;
	 padding-top: 100px
}
 ::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	 color: black;
	 font-weight: bolder;
	 font-size: 16px;
}
 :-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	 color: rgba(226, 227, 232, .75);
	 font-size: 16px;
	 font-weight: bolder;
	 opacity: 0.5;
}
 ::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	 color: rgba(226, 227, 232, .75);
	 font-weight: bolder;
	 font-size: 16px;
	 opacity: 0.5;
}
 :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	 color: rgba(226, 227, 232, .75);
	 font-weight: bolder;
	 font-size: 16px;
}
 ::-ms-input-placeholder {
	/* Microsoft Edge */
	 color: rgba(226, 227, 232, .75);
	 font-weight: bolder;
	 font-size: 16px;
}
 .submit {
	 display: inline-block;
	 font-size: 25px;
	 font-weight: 700;
	 letter-spacing: 1px;
	 padding: 8px 40px;
	 margin: 20px;
	 border: 2px solid blue;
	 border-radius: 10px;
	 color: blue;
	 background-color: #fff;
	 cursor: pointer;
	 transition: 1s;
}
 .submit:hover {
	 background-color: blue;
	 color: white;
}
 .wave {
	 position: absolute;
	 top: 0;
	 left: 50%;
	 width: 800px;
	 height: 800px;
	 margin-top: -600px;
	 margin-left: -400px;
	 background: #252e45;
	 border-radius: 40%;
	 animation: shift 20s infinite linear;
	 z-index: 0;
}
 @keyframes shift {
	 from {
		 transform: rotate(360deg);
	}
}
 

footer{
 
	bottom: 0;
   }
  
  .footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	
	padding: 55px 50px;
	margin-top: 80px;
  }
	
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
   }
	
   .footer-distributed .footer-left{
	width: 40%;
   }
	
   .footer-distributed h3{
	color:  #ffffff;
	font: normal 30px 'Raleway';
	margin: 0;
   }
	
   .footer-distributed h3 span{
	color:  #5383d3;
   }
	
	
   .footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
   }
	
   .footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
   }
	
   .footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
   }
	
	
   .footer-distributed .footer-center{
	width: 35%;
   }
	
   .footer-distributed .footer-center i{
	background-color:  #31525B;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
   }
	
   .footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
   }
	
   .footer-distributed .footer-center p{
	display: inline-block;
	font-weight: normal;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
   }
	
   .footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
   }
	
   .footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
   }
	
   .footer-distributed .footer-right{
	width: 20%;
   }
	
   .footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
   }
	
   .footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
   }
	
   .footer-distributed .footer-icons{
	margin-top: 25px;
   }
	
   .footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	
	margin-right: 3px;
	margin-bottom: 5px;
   }
	
	
   @media (max-width: 880px) {
	
	.footer-distributed{
	font: bold 14px sans-serif;
	
	}
  
   
	
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	}
	
	.footer-distributed .footer-center i{
	margin-left: 0;
	}
	.main {
	line-height: normal;
	font-size: auto;
	}
	
   }
  
   .headContainer{
	
  
	  padding: 20px;
	  margin: 30px;
	  margin-top: 10px;
	  width: auto;
	  height: 150px;
	
   }